.allLetters {
  font-family: monospace;
  font-size: 14px;
}

input.ng-invalid.ng-touched {
  border: 3px solid goldenrod;
}

.btnSubmit {
  margin-left: 22% !important;
  font-family: monospace;
  font-size: 18px;
  background: black !important;
  color: #fff !important;
}

.btnSubmit:hover, .btnSubmit:focus {
  font-family: monospace;
  font-size: 19px;
  background: goldenrod !important;
}
